#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 200px var(--content-margin) 0px var(--content-margin);
  h1 {
    font-family: var(--font-sans);
    color: var(--teal);
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  p {
    font-family: var(--font-sans);
    color: var(--white);
  }
  .image-wrapper {
    display: block;
    position: relative;
    width: 600px;
    margin-left: 100px;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      // background-color: var(--dark-navy);
      border-style: solid;
      border-radius: 5px;
      border-width: 5px;
      border-color: var(--teal);
      z-index: -1;
      left: 15px;
      top: 10px;
      position: absolute;
    }
  }
  // .image-container {
    
  // }
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;

  }
}