.backgroundContainer {
  width: 100vw;
  height: 90vh;
  margin-bottom: 50px;
  // '@media (max-width: 950px)': {
  //   height: '40vh',
  // },
  // '@media (max-width: 600px)': {
  //   height: '30vh',
  // },
  // '@media (max-width: 400px)': {
  //   height: '29vh',
  // },
}

.background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  // background-color: black;
  // background-image: url(computer_photo.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 100% 0;
  opacity: 0.8;
}

.titleName {
  color: white;
  font-weight: bold;
}

.subTitle {
  color: white;
  padding-bottom: 20;
}

.resumeButton {
  background-color: black;
  font-size: 20;
  font-weight: bold;
  border-radius: 15;
  width: 150;
  // backgroundColor: theme.palette.common.white,
  // fontSize: 20,
  // fontWeight: 'bold',
  // borderRadius: 15,
  // width: 150,
  // '@media (max-width: 400px)': {
  //   height: '30px',
  //   fontSize: 15,
  // },
}

@media (max-width: 950px) {

}