#work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 200px var(--content-margin) 0px var(--content-margin);
  h1 {
    font-family: var(--font-sans);
  }
}

.background-canvas {
  content: '';
  display: grid;
  height: 100%;
  width: 100%;
  transform: skewY(-5deg);
  position: absolute;
  transform-origin: 0;
  background-color: var(--navy);
  z-index: -1;
  grid: repeat(5, 200px) / repeat(10, 1fr);
  :nth-child(1) {
    grid-column: span 10;
    color: white;
  }
  :nth-child(2) {
    grid-area: 3 / span 3 / auto / -1;
    color: white;
  }
  :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
    color: white;
  }
}

.work-content {
  display: flex;
  flex-direction: row;
  p {
    font-family: var(--font-sans);
  }
  .image-container {
    width: 500px;
    margin-left: 100px;
  }
  #rectangle {
    width: 100%;
    height: 100%;
    // background-color: var(--dark-navy);
    border-style: solid;
    border-radius: 0px;
    border-width: 5px;
    border-color: var(--dark-navy);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.job-button-container {
  display: flex;
  flex-direction: column;
}

.job-description-container {
  display: block;
  margin-left: 50px;
}

button {
  display: block;
  width: 100px;
  height: 40px;
  background-color: var(--dark-navy);
  border: 0px;
  border-radius: 0px;
  color: white;
  font-family: var(--font-mono);
  &:hover {
    background-color: var(--navy);
    cursor: pointer;
  }

  &:active {

  }
}